
body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #000;
}
.myform
{
    margin: auto;
    max-width: 80%;
    min-width: 340px;
}
.content
{
    width: auto;
    background-color: #f5f4f2;
}
.head
{
    width: 100%;
    background: #9c9e9c;
    height: auto;
    color: #FFF;
}

.head img
{
    margin-left: 8%;
    float: left;
}

.top-title
{
    font-size: 35px;
    line-height: 100px;
    text-align: left;
    height: 100px;
}
.top-title span
{
    margin-left: 20px;
    color: yellow;
    font-size: 20px;
    font-family: 微软雅黑;
}
.div3
{
    padding: auto;
    margin: auto;
    width: 95%;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #9c9e9c;
    -moz-box-shadow: 3px 3px 4px #9c9e9c;
    -webkit-box-shadow: 3px 3px 4px #9c9e9c;
    box-shadow: 3px 3px 4px #9c9e9c;
    background: #FFF;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#FFF');
}
.left_search
{
    margin-left: 20px;
}

table.tblInfo
{
    border-collapse: collapse;
    border: none;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}
.tblInfo td
{
    line-height: 30px;
    border: 1px solid #9c9e9c;
    word-wrap: break-word;
}
.tblInfo td input[type="text"] {
    max-width: 90%;
}
.headImg{
    width: 50px;
}
.btn-headImg {
    display: block;
}
/*dialog弹框----开始*/
.dialog
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
/*遮罩层*/
.dialog-max
{
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
.dialog-content
{
    top: 50%;
    left: 50%;
    max-width: 800px;
    min-width: 500px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-60%);
    -moz-transform: translateX(-50%) translateY(-60%);
    -ms-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
}
.dialog-content .dialog-title
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: red;
    text-align: left;
}
.dialog-content .dialog-title .dialog-title-span
{
    font-family: 黑体;
    font-size: 15px;
    color: white;
    margin-left: 15px;
}
.dialog-title-close
{
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 5px;
}
.dialog-title-close img{
    height: 100%;
}
.dialog-msg
{
    width: 90%;
    height: 400px;
    margin: 10px auto;
}
.dialog-msg img
{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.dialog-bottom
{
    height: 35px;
    border: 0px red solid;
    margin: 15px auto;
}
.dialog-btn
{
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: #e74c3c;
    color: White;
    margin-left: 10px;
    cursor: pointer;
}
/*dialog弹框----结束*/