
.wrap
{
    min-height: 100%;
    height: auto;
    background-image: url(../images/bg.png);
}
.text-box
{
    background: url(../images/photolist/text-bg.png) no-repeat 50% 50%;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 50px;
}
#txtEmail
{
    left: 43%;
    width: 50%;
    height: 55%;
    font-size: 15px;
    color: black;
}
#btn_GetPhoto
{
    width: 18%;
    height: 100%;
    left: 78%;
}
#tip_img
{
    display: none;
    top: 100%;
    left: 0;
    z-index: 1;
}
.div_tip
{
    margin-top: 12%;
}
.user-code-box img
{
    width: 100%;
}
.input-box
{
    background: url(img/p7/p7_btn.png) no-repeat 50% 50%;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 40px;
}
.left-txt-box
{
    top: 0;
    left: 16%;
    width: 53%;
    height: 100%;
    background: none;
    outline: none;
}
.left-txt
{
    width: 53%;
    height: 100%;
    margin-left: 16%;
    border: none;
    background: none;
    outline: none;
}
.right-btn
{
    -webkit-appearance: none;
    width: 18%;
    height: 100%;
    right: 12%;
    top: 0;
    border: none;
    background: none;
}

input[type='button']
{
    background: none;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.btn-box img
{
    width: 100%;
}
.photo-box
{
    text-align: center;
    overflow: hidden;
    margin: auto;
    padding: 0 5%;
}
.photo-box .item
{
    width: 50%;
    text-align: center;
    float: left;
    display: block;
    margin: auto;
    position: relative;
    color: black;
    font-family: 微软雅黑;
    font-size: 14px;
    padding: 5px 0;
}
.photo-box .item input[type='checkbox']
{
    display: none;
}
.photo-box .item .i-img-box .imgMask
{
    width: 20%;
    bottom: 10px;
    right: 10%;
    position: absolute;
    display: none;
}
.photo-box .item .i-img-box.selecedItem div
{
    opacity: 0.8;
}
.photo-box .item .i-img-box.selecedItem .imgMask
{
    display: block;
}
.photo-box .i-img-box
{
    position: relative;
}
.photo-box .i-img-box div img
{
    width: 90%;
    box-shadow: 1px 1px 4px black; /*左边阴影*/
    border-radius: 5px;
}
.sub
{
    width: 100%;
    margin: auto;
    text-align: center;
}
.sub img
{
    width: 12%;
    height: auto;
}
.bottom-img
{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}
