<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="webUrl" value="http://www.77hudong.com/" />-->
    <add key="webUrl" value="http://localhost:2090/"/>
    <add key="EmailAccount" value="marykay@binland.com.cn"/>
    <add key="EmailPassword" value="grace123456"/>
    <!-- 设置网盘路径和提取码 -->
    <add key="baiduDiskUrl" value="http://www.77hudong.com"/>
    <add key="baiduDiskCode" value="123456"/>
    <!--<add key="mkDataPath" value="http://www.77hudong.com/data/" />-->
    <add key="mkDataPath" value="http://localhost:2090/data/"/>
    <add key="SMTP" value="smtp.exmail.qq.com"/>
    <!-- 设置是否记录日志 -->
    <add key="isLog" value="yes"/>
    <add key="dataPath" value="http://webapp.binland.com.cn/meeting/data/"/>
    <add key="imgSavePath" value="upImg"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="VoteAndQuestionDBEntities11" connectionString="metadata=res://*/DB.VoteEntity.csdl|res://*/DB.VoteEntity.ssdl|res://*/DB.VoteEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=VoteAndQuestionDB;User ID=sa;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="VoteAndQuestionDBEntities" connectionString="metadata=res://*/DB.VoteEntity.csdl|res://*/DB.VoteEntity.ssdl|res://*/DB.VoteEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rdszs7hma4oekk42tfx4public.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=VoteAndQuestionDB;User ID=binland;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="WebService_DBEntities11" connectionString="metadata=res://*/DB.WebServiceDB.csdl|res://*/DB.WebServiceDB.ssdl|res://*/DB.WebServiceDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WebService_DB;User ID=sa;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="WebService_DBEntities" connectionString="metadata=res://*/DB.WebServiceDB.csdl|res://*/DB.WebServiceDB.ssdl|res://*/DB.WebServiceDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rdszs7hma4oekk42tfx4public.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=WebService_DB;User ID=binland;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MaryKayDBEntities11" connectionString="metadata=res://*/DB.marykay.MaryKayDB.csdl|res://*/DB.marykay.MaryKayDB.ssdl|res://*/DB.marykay.MaryKayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MaryKayDB;User ID=sa;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MaryKayDBEntities" connectionString="metadata=res://*/DB.marykay.MaryKayDB.csdl|res://*/DB.marykay.MaryKayDB.ssdl|res://*/DB.marykay.MaryKayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rdszs7hma4oekk42tfx4public.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=MaryKayDB;User ID=binland;Password=password_1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>